img{
    filter: brightness(80%) saturate(75%) contrast(150%);
    width: 100px;
    height: 100px;
    margin: 5px;
    border: solid 2px black;
    border-radius: 20px;
}

body{
    text-align: center;
    background-color: linen;
    font-family: "Courier New", Courier, monospace;
}

h1{
    color: white;
    padding: 75px 0 75px 0;
    background: linear-gradient(45deg, orange, red, darkBlue);
    border: 10px solid white;
    border-radius: 50px;
}

h2{
    font-family: Courier New;
    transform: rotate(0deg);
    font-style: italic;
    background-color: lightGrey;
    margin: 10px;
    padding-top: 30px;
    padding-bottom: 10px;
    border: solid olive;
    text-align: center;
}

.red{
    background-color: #ff0000;
    width: 30px;
}

.orange{
    background-color: #ffa500;
    width: 60px;
    filter: opacity(100%);
}

.yellow{
    background-color: #ffff00;
    width: 90px;
}

.green{
    background-color: #00ff00;
    width: 120px;
}

.blue{
    background-color: #0000ff;
    width: 150px;
}

.indigo{
    background-color: #4b0082;
    width: 180px;
}
.violet{
    background-color: #ee82ee;
    width: 210px;
}
.gaming{
    width:38%;
    background-color: skyblue;
}
.movies{
    width:34%;
    background-color: wheat;
}
.music{
    width:24%;
    background-color: indianred;
    filter: opacity(70%);
}
.photo{
    height: 200px;
    width: 200px;
    border-radius: 30px;
    background-color: blue;
}
.galery{
    height:125px;
    width: 125px;
    margin: 10px;
    border: solid olive;
    padding: 5px;
    background: white;
}
.container{
    display:flex;
    justify-content: center;
    flex-wrap: wrap-reverse;
    border: 2px solid #B1E9FF
}

p{
    font-size: 22px;
    border: solid 3px black;
    border-radius: 5px;
    padding: 7px 10px 7px 10px;
}
.username{
    background-color: cornSilk;
}
.character{
    background-color: mistyrose;
}
