* {
    box-sizing: border-box;
}

body {
    font-family: "Open Sans", sans-serif;
    background: rgb(40, 40, 40);
}

.container {
    width: 800px;
    padding-right: 15px;
    padding-left: 15px;
    margin: auto;
}

.landing-page {
    position: relative;
    background-color: rgb(40,40,40);
}

.landing-page .header-area {
    display: flex;
    padding: 25px 0 0;
    position: relative;
}

.landing-page .header-area .logo {
    text-transform: uppercase;
    font-style: italic;
    margin-top: 10px;
    font-size: 19px;
    width: 300px;
    color: white;
}

.landing-page .header-area .links {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
    text-align: right;
}
a{
    color: white;
    text-decoration: none;
}
.landing-page .header-area .links li {
    display: inline-block;
    margin-left: 30px;
    color: #6c63ff;
    cursor: pointer;
}

.landing-page .header-area .links li:last-child {
    border: 0;
    border-radius: 20px;
    padding: 10px 18px;
    color: #FFF;
    background-color: #6c63ff;
}

.landing-page .info {
    width: 70%;
    float: left;
    margin-top: 130px;
}

.landing-page .info h1 {
    font-size: 44px;
    margin: 0 0 25px;
    line-height: 1.4;
    color: white;
}

.landing-page .info p {
    margin: 0;
    line-height: 1.2;
    font-size: 15px;
    color: white;
}

.landing-page .info button {
    border: 0;
    border-radius: 20px;
    padding: 12px 30px;
    margin-top: 30px;
    cursor: pointer;
    color: #FFF;
    background-color: #6c63ff;
}

.landing-page .image {
    width: 50%;
    float: right;
    margin-top: 35px;
}

.landing-page .image img {
    max-width: 100%;
}

span {
    margin: auto;
    font-size: 2rem;
    color: white;
    align-content: center;
    text-align: center;
}
