* {
    box-sizing: border-box;
}

body {
    font-size: 100%;
    font-family: "Helvetica Neue", Arial, sans-serif;
    line-height: 1.4;
    color: whitesmoke;
    background: rgb(40, 40, 40);
    margin: 0px;
}


main {
    margin: 0px;
}

h1 {
    margin: 10px 10px 0;
    line-height: 1.4;
    color: whitesmoke;
    font-size: 30px;
}

p {
    margin: 0px 20px;
}

h1::first-letter {
    font-size: 4rem;
    color: #5689C0;
}

h2 {
    color: whitesmoke;
    margin: 20px;
}

h3 {
    margin: 0px 0px 20px 0px;
}

.image img {
    width: 100%;
    float: left;
    margin: 20px 0px 20px 0px;
    max-width: 100%;
}


/* Navbar container */
.navbar {
    overflow: hidden;
    background-color: #5689C0;
    font-family: Arial;
}

/* Links inside the navbar */
.navbar a {
    float: left;
    font-size: 16px;
    color: whitesmoke;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* The dropdown container */
.dropdown {
    float: left;
    overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: whitesmoke;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    /* Important for vertical align on mobile phones */
    margin: 0;
    /* Important for vertical align on mobile phones */
}

/* Add a black background color to navbar links on hover */
.navbar a:hover,
.dropdown:hover .dropbtn {
    background-color: rgb(40, 40, 40);
}

/* Dropdown content (hidden by default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
    background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

.navbar a.aktuell {
    font-weight: bold;
}

/* #A1E1FA gehört eigentlich zum Farbschema, aber die Links kommen dann nicht so richtig rüber alternativ weiß #EAEBED*/
a {
    color: #a1e1fa;
}

.footer {
    /*mehrspaltige Ansicht*/
    display: flex;
    color: #fffefe;
    padding: 2rem 0;
    height: auto;
    /* Abstände zwischen den Spalten */
    justify-content: space-around;
    flex-wrap: wrap;
}

.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}

.footer h2 {
    font-size: 1.3rem;
    margin-bottom: 1rem;
    font-weight: bold;
}

.links li {
    list-style: none;
    line-height: 30px;
}

links li a {
    text-decoration: none;
    color: #fff;
}

.address {
    text-align: center;
    margin-bottom: 10px;
}

.social {
    display: flex;
    list-style: none;
}

.social li {
    margin: 0 8px;
    cursor: pointer;
    font-size: 18px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-instagram {
    background: magenta;
    color: white;
}

table,
th,
td {
    border: 1px solid #A1E1Fa;
    border-collapse: collapse;
    padding: 5px 10px;
}

tr:nth-child(even) {
    background-color: #5689C0;
    color: #EAEBED;
}

tr:nth-child(odd) {
    background-color: rgb(40, 40, 40)
}

.ABI {
    color: gold;
}

/*Design der Tabs*/
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

/*Design der Buttons, die für den Tab-Inhalt genutzt werden*/
.tab button {
    background-color: inherit;
    font-size: 18px;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}

/* Change background color wenn über der Button mit der Maus gestreift wird */
.tab button:hover {
    background-color: #ddd;
}

/* create an active/current tablink class */
.tab button.active {
    background-color: steelblue;
    color: white;
}

.tabcontent {
    display: none;
    padding: 20px 20px;
    border-top: none;
    background-image: url("../images/Gras.jpg");
}

figure {
    margin: 20px 0 20px 0;
}

caption {
    font-size: 24px;
}

/* Display the columns below each other instead of side by side on small screens */
@media screen and (max-width: 650px) {

    table,
    th,
    td {
        font-size: 10px;
    }
}