* {
  box-sizing: border-box;
}

body {
  font-size: 100%;
  font-family: "Inter", "Avenir", "Helvetica Neue", Arial, sans-serif;
  line-height: 1.5;
  color: rgb(220, 220, 220);
  background: rgb(40, 40, 40);
  margin: 0px;
  font-weight: lighter;
}
.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 10px;
}



main {
  margin: 0px;
}

h1 {
  margin: 0px 20px 0;
  line-height: 1.4;
  color: rgb(210, 210, 210);
  font-size: 30px;
}

p {
  margin: 10px;
}

.termine {
  margin-top: 50px;
}

h1::first-letter {
  font-size: 4rem;
  color: #004aad;
  font-weight: 400;
}

h2 {
  color: rgb(210, 210, 210);
  margin: 40px 20px 40px 0px;
  font-weight: lighter;
}

caption {
  font-size: 24px;
  margin-bottom: 10px;
  text-align: left;
}

h3 {
  margin: 20px 10px 20px 0px;
  font-weight: 600px;
}

.image img {
  width: 100%;
  float: left;
  margin: 20px 0px 20px 0px;
  max-width: 100%;
}

/* Navbar container */
.navbar {
  overflow: hidden;
  background-color: #004aad;
  font-family: Arial;
}

/* Links inside the navbar */
.navbar a {
  float: left;
  font-size: 16px;
  color: whitesmoke;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* The dropdown container */
.dropdown {
  float: left;
  overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: whitesmoke;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  /* Important for vertical align on mobile phones */
  margin: 0;
  /* Important for vertical align on mobile phones */
}

/* Add a black background color to navbar links on hover */
.navbar a:hover,
.dropdown:hover .dropbtn {
  background-color: rgb(40, 40, 40);
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

.navbar a.aktuell {
  font-weight: bold;
}

/* #A1E1FA gehört eigentlich zum Farbschema, aber die Links kommen dann nicht so richtig rüber alternativ weiß #EAEBED*/
a {
  color: #a1e1fa;
}

.footer {
  /*mehrspaltige Ansicht*/
  display: flex;
  color: #fffefe;
  padding: 2rem 0;
  height: auto;
  /* Abstände zwischen den Spalten */
  justify-content: space-around;
  flex-wrap: wrap;
  width: 75%;
}

.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
  background-color: rgb(40,40,40);
}


.footer h2 {
  font-size: 1.3rem;
  margin-bottom: 1rem;
  font-weight: bold;
}

.links li {
  list-style: none;
  line-height: 30px;
}

.links li a {
  text-decoration: none;
  color: #fff;
}

.address {
  text-align: center;
  margin-bottom: 10px;
}

.social {
  display: flex;
  list-style: none;
}

.social li {
  margin: 0 8px;
  cursor: pointer;
  font-size: 18px;
}

.fa:hover {
  opacity: 0.7;
}

.fa-facebook {
  background: #3b5998;
  color: white;
}

.fa-instagram {
  background: magenta;
  color: white;
}

table,
th,
td {
  border: 1px solid #a1e1fa;
  border-collapse: collapse;
  padding: 5px 10px;
}

tr:nth-child(even) {
  background-color: #004aad;
  color: #eaebed;
}

tr:nth-child(odd) {
  background-color: rgb(40, 40, 40);
}

.ABI {
  color: gold;
}

/*Design der Tabs*/
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
  border-radius: 10px;
  margin-top: 50px;
}

/*Design der Buttons, die für den Tab-Inhalt genutzt werden*/
.tab button {
  background-color: inherit;
  font-size: 18px;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 10px 10px;
  transition: 0.3s;
}

/* Change background color wenn über der Button mit der Maus gestreift wird */
.tab button:hover {
  background-color: #ddd;
}

/* create an active/current tablink class */
.tab button.active {
  background-color:red;
  color: white;
}

.tabcontent {
  display: none;
  padding: 20px 20px;
  border-top: none;
  background-color: #004aad;
  border-radius: 10px;
  /*background-image: url("../images/Verein/Gras.jpg");*/
}

figure {
  margin: 20px 0 20px 0;
}


/* Stil für die Seitenleiste */
.sidebar {
  width: 250px;
  background-color: #004aad;
  padding: 10px;
  position: fixed;
  top: 0px;
  right: 0;
  height: 100%;
}

/* Stil für die Termine */
.event {
  margin-bottom: 5px;
}

.event h3 {
  margin-top: 20px;
  color: gold;
  font-size: 25px;
  font-weight: 600;
}

.event p {
  margin-bottom: 0px;
}

.sidebar h2 {
  margin: 40px 0 0 0;
}

/* Stil für den restlichen Inhalt */
.content {
  margin-right: 250px;
  /* Platz für die Seitenleiste */
  padding: 20px;
}

/* Media Query für responsive Darstellung */
@media (max-width: 768px) {
  .sidebar {
    position: static;
    width: 100%;
    height: auto;
  }

  .sidebar h2 {
    margin-top: 10px;
  }

  .content {
    margin-top: 20px;
    margin-right: 10px;
  }

            /* Für kleine Bildschirme */
    .form {
        width: 100%; /* Abschnitte werden einspaltig */
      }

  /* Display the columns below each other instead of side by side on small screens */
  table,
  th,
  td {
    font-size: 10px;
  }
}
