* {
    box-sizing: border-box;
}

body {
    font-size: 100%;
    font-family: "Helvetica Neue", Arial, sans-serif;
    line-height: 1.4;
    color: whitesmoke;
    background: rgb(40, 40, 40);
    margin: 0px;
}


a {
    color: white;
    text-decoration: none;
}

p{
    margin: 20px;
}

h1 {
    margin: 20px;
    line-height: 1.4;
    color: whitesmoke;
}
h2{
    margin: 20px;
}
h3{
    margin: 0px;
}

.text_ohne_margin{
    margin: 20px 0px;
}
span {
    margin: auto;
    font-size: 2rem;
    color: white;
    align-content: center;
    text-align: center;
}

/* Navbar container */
.navbar {
    overflow: hidden;
    background-color: steelblue;
    font-family: Arial;
}

/* Links inside the navbar */
.navbar a {
    float: left;
    font-size: 16px;
    color: whitesmoke;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* The dropdown container */
.dropdown {
    float: left;
    overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: whitesmoke;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    /* Important for vertical align on mobile phones */
    margin: 0;
    /* Important for vertical align on mobile phones */
}

/* Add a red background color to navbar links on hover */
.navbar a:hover,
.dropdown:hover .dropbtn {
    background-color: red;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
    background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

.navbar a.aktuell {
    font-weight: bold;
}

/* Three columns side by side */
.row {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 1200px;
}
.column{
    float:left;
    width:100%;
    padding: 20px;
}

/* Display the columns below each other instead of side by side on small screens */
@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }

    .row{
        display:block;
    }
    .footer{
        display:block;
    }
    .box{
        display:block;
    }
}


.title {
  color: whitesmoke;
}
.subcolumn{
    float:left;
    margin: 10px;
}
.subrow{
    display: grid;
    grid-template-columns: 1fr 3fr;
}
